* {
	box-sizing: border-box;
}

:root {
	--primary-color: #9356dc;
}
#color1 {
	color: var(--primary-color);
}

:root {
	--second-color: #ff79da;
}
#color2 {
	color: var(--second-color);
}

:root {
	--third-color: #99e2d0;
}
#color3 {
	color: var(--third-color);
}

:root {
	--fourth-color: #eaeaea;
}
#color4 {
	color: var(--fourth-color);
}

:root {
	--fifth-color: #cecece;
}
#color5 {
	color: var(--fifth-color);
}

:root {
	--sixth-color: #f6f6f6;
}
#color6 {
	color: var(--sixth-color);
}

:root {
	--seventh-color: #f5edff;
}
#color7 {
	color: var(--seventh-color);
}

:root {
	--eighth-color: #e8e8e8;
}
#color8 {
	color: var(--eighth-color);
}

:root {
	--ninth-color: #ffffff;
}
#color9 {
	color: var(--ninth-color);
}

.container {
	max-width: 100%;
}

h1,
h2,
h3 {
	font-family: "Roboto";
}

h1 {
	margin: auto;
	padding-top: 15px;
	font-size: 32px;
}

h3 {
	margin: auto;
}

p {
	font-family: "Roboto";
}

header {
	display: flex;
	justify-content: center;
	padding-top: 23px;
	height: 63px;
}

.search-card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--fourth-color);
	border-top: 2px solid var(--fifth-color);
	box-shadow: inset var(--fifth-color) 0px 4px 5px 0px;
	height: 50px;
}

.discover-card {
	background-color: var(--sixth-color);
	text-align: center;
}

.btn-explore {
	background: linear-gradient(160deg, var(--second-color) 0%, var(--primary-color) 100%);
	border-radius: 30px;
	color: var(--ninth-color);
	margin-top: 15px;
	margin-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

.btn-explore:hover {
	cursor: pointer;
	opacity: 0.9; /*intensité du "masque" au survol*/
}

.howto-card {
	background-color: #fff;
}

.howto-card__heading {
	margin-left: 5px;
}

.round {
	border-radius: 50%;
	width: 25px;
	height: 25px;
	background-color: var(--primary-color);
	color: white;
	align-content: center;
}

.steps {
	display: flex;
	flex-direction: row;
	text-align: center;
	align-items: center;
	margin: 15px;
}

.steps:hover {
	background-color: var(--seventh-color);
}

.steps-rounded {
	border-radius: 15px;
}
.steps-style {
	background-color: var(--sixth-color);
	box-shadow: 5px 5px 5px var(--eighth-color);
}

.restaurants-prev {
	background-color: var(--sixth-color);
	padding-top: 15px;
}

.restaurants-prev__heading {
	margin-left: 5px;
}

.restaurants-prev__card {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: var(--sixth-color);
}

.preview__resto {
	height: 200px;
	border-radius: 20px 20px 0 0;
	margin-left: 10px;
	margin-right: 10px;
	object-fit: cover;
}

.restaurants-prev__textnouveau {
	display: block;
	position: absolute;
	font-size: 0.9rem;
	text-align: center;
	background-color: #99e2d0;
	color: #239c7f;
}

.name {
	background-color: var(--ninth-color);
	border-radius: 0 0 20px 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	line-height: 12px;
}

.heart {
	position: absolute;
}

.heart > i {
	position: absolute;
	font-size: 25px; /*taille des coeur far et fas*/
}

.heart > .fas {	
	opacity: 0;
	transition-duration: 0.4s;
	background:gradient (linear,top,bottom,from (var(--primary-color)),to(var(--second-color));
}

input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.footer {
	background-color: #353535;
}

.footer-interactive__title {
	font-family: "Shrikhand";
	margin-right: 250px;
	margin-top: 0px;
}

.footer-interactive {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-top: 25px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
}

.footer-interactive:last-child {
	margin-left: 4px;
	font-family: "Roboto";
}

.footer-interactive a {
	color: #fff;
	text-decoration: none;
}

.footer-interactive a:visited {
	text-decoration: none;
}

.footicone {
	display: flex;
	flex-direction: wrap;
}

.foot {
	margin-top: 18px;
	margin-left: -25px;
	margin-right: -14px;
	line-height: 1;
}

.foot i {
	color: white;
}
