h2 {
	margin-right: 925px;
}
.heart {
	position: absolute;
	font-size: 25px;
	margin-left: 625px;
	margin-top: -60px;
}

.card-menu__starter {
	display: flex;
	flex-direction: row;
}

.tarif {
	margin-left: 600px;
}

.btn-explore {
	margin-left: 415px;
}
