h2 {
	margin-right: 320px;
	border-bottom: 3px solid var(--third-color);
}

.heart {
	position: absolute;
	font-size: 25px;
	margin-left: 330px;
	margin-top: -60px;
}

.tarif {
	margin-left: 310px;
}

.btn-explore {
	margin-left: 120px;
	margin-top: 25px;
}
