* {
	box-sizing: border-box;
}

:root {
	--primary-color: #9356dc;
}
#color1 {
	color: var(--primary-color);
}

:root {
	--second-color: #ff79da;
}
#color2 {
	color: var(--second-color);
}

:root {
	--third-color: #99e2d0;
}
#color3 {
	color: var(--third-color);
}

:root {
	--fourth-color: #eaeaea;
}
#color4 {
	color: var(--fourth-color);
}

:root {
	--fifth-color: #cecece;
}
#color5 {
	color: var(--fifth-color);
}

:root {
	--sixth-color: #f6f6f6;
}
#color6 {
	color: var(--sixth-color);
}

:root {
	--seventh-color: #f5edff;
}
#color7 {
	color: var(--seventh-color);
}

:root {
	--eighth-color: #e8e8e8;
}
#color8 {
	color: var(--eighth-color);
}

:root {
	--ninth-color: #ffffff;
}
#color9 {
	color: var(--ninth-color);
}

.container {
	max-width: 100%;
}

header {
	display: flex;
	justify-content: center;
	padding-top: 5px;
	height: 63px;
}

.back {
	position: absolute;
	margin-right: 315px;
	margin-top: 30px;
	font-size: 20px;
	color: black;
}

.back a:visited {
	text-decoration: none;
}

main {
	width: 100%;
	padding: 8px;
	margin: auto;
	margin-top: -20px;
}

h1,
h2 {
	margin-left: 15px;
}

h1 {
	font-family: "Shrikhand";
	font-size: 30px;
}

h2,
h3,
p {
	font-family: "Roboto";
}

h2 {
	font-size: 20px;
	border-bottom: 3px solid var(--third-color);
}

img {
	width: 100%;
	margin-top: 25px;
}

.card-menu {
	border-radius: 40px 40px 0px 0px;
	background-color: var(--sixth-color);
	margin-top: -50px;
	padding-top: 5px;
	position: relative;
}

.card-menu__starter {
	border-radius: 20px 20px 20px 20px;
	background-color: var(--ninth-color);
	margin-left: 16px;
	margin-right: 6px;
	margin-top: 15px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	line-height: 2px;
	box-shadow: 5px 4px 10px -6px grey;
}

.tarif {
	position: absolute;
	margin-left: 255px;
	padding-top: 5px;
	font-weight: bold;
}

.btn-explore {
	background: linear-gradient(160deg, var(--second-color) 0%, var(--primary-color) 100%);
	border-radius: 30px;
	color: var(--ninth-color);

	margin-top: 15px;
	margin-bottom: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

.btn-explore:hover {
	cursor: pointer;
	opacity: 0.9; /*intensité du "masque" au survol*/
}

.footer {
	background-color: #353535;
}

.footer-interactive__title {
	font-family: "Shrikhand";
	margin-right: 250px;
	margin-top: 0px;
}

.footer-interactive {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-top: 25px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
}

.footer-interactive:last-child {
	margin-left: 4px;
	font-family: "Roboto";
}

.footer-interactive a {
	color: #fff;
	text-decoration: none;
}

.footer-interactive a:visited {
	text-decoration: none;
}

.footicone {
	display: flex;
	flex-direction: wrap;
}

.foot {
	margin-top: 18px;
	margin-left: 0px;
	margin-right: 10px;
	line-height: 1;
}

.foot i {
	color: white;
}
