*{
    box-sizing: border-box;
}

:root{
    --primary-color:#9356DC;
}
#color1{
    color:var(--primary-color);
}

:root{
    --second-color:#FF79DA;
}
#color2{
    color: var(--second-color);
}

:root{
    --third-color:#99E2D0;
}
#color3{
    color: var(--third-color);
}

:root{
    --fourth-color:#EAEAEA;
}
#color4{
    color: var(--fourth-color);
}

:root{
    --fifth-color:#CECECE;
}
#color5{
    color: var(--fifth-color);
}

:root{
    --sixth-color:#F6F6F6;
}
#color6{
    color:var(--sixth-color);
}

:root{
    --seventh-color:#F5EDFF;
}
#color7{
    color: var(--seventh-color);    
}

:root{
    --eighth-color:#E8E8E8;
}
#color8{
    color: var(--eighth-color);
}

:root{
    --ninth-color:#ffffff;
}
#color9{
    color: var(--ninth-color);
}

@media  screen and (min-width: 375px) and (max-width:768px ){
    .container{
        max-width: 100%;
    }

    header{
        display: flex;
        justify-content: center;
        padding-top: 5px;
        height: 63px;
    }

    main{
        width: 100%;
        padding: 8px;
        margin: auto;
        margin-top: -20px;
    }

    img{
        width: 100%;
        margin-top: 25px;
    }

    .card-menu{
        border-radius: 40px 40px 0px 0px;
        background-color: var(--sixth-color);
        margin-top: -50px;
        padding-top: 5px;
        position: relative;
        
    }

    h1, h3{
        margin-left: 15px;
    }

    h3:hover{
        border-bottom: 3px solid var(--third-color);        
        margin-right: 385px;
        cursor: pointer;

    }

    .card-menu__starter{
        border-radius: 20px 20px 20px 20px;
        background-color: var(--ninth-color);
        margin-left: 16px;
        margin-right: 6px;
        margin-top: 15px;
        padding-left: 10px;
        display: flex;
        flex-direction:column ;
        line-height: 2px;
    }

    .tarif{
       position: absolute;
       margin-left: 255px;
       padding-top: 5px;
       font-weight: bold;
    }    

    .btn-explore{               
        background: linear-gradient(160deg, var(--second-color) 0%, var(--primary-color) 100%);
        border-radius: 20px;
        color: var(--ninth-color);
        padding: 10px;
        margin-top: 15px;
        margin-bottom: 30px;
                  
    }
    
    .btn-explore:hover{
        cursor: pointer;        
        opacity: 0.9;/*intensité du "masque" au survol*/
    }
    
    
    .footer{
        background-color: #353535;
        padding-top: 5px;
        padding-bottom: 20px;
    }

    .footer-interactive__title{
        margin-left: 15px;        
    }
    
    .footer-interactive a{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-top: 25px;
        line-height: 2px;            
        text-decoration: none;
        color: var(--ninth-color);
    }    

    .footer-interactive a:visited{
        text-decoration: none;
    }

}