$primary-color: #9356dc;

$second-color: #ff79da;

$third-color: #99e2d0;

$fourth-color: #eaeaea;

$fifth-color: #cecece;

$sixth-color: #f6f6f6;

$seventh-color: #f5edff;

$eighth-color: #e8e8e8;

$header-top: 23px;

$header-height: 65px;

$search-card-height: 50px;

$h1-size: 32px;
